/.vscode
/2412238.jpg
/coverage
/leetcoad.txt
/Sem-4_JavaScript_project
/node_modules
/dist
/.env
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dmg
*.iso
*.log
*.tmp
*.bak